<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>やまびこ</title>
</head>

<body>
  <h1>やまびこ Web アプリです</h1>

  <section>
    <h2>オウム返し</h2>
    <p>入力したメッセージをそのまま返します。</p>
    <th:block th:if="${echo}">
      <p th:utext="${echo}">オウム返し</p>
    </th:block>

    <form th:action="@{/yamabiko/echo}" method="post">
      <label for="echomessage">メッセージ:</label>
      <input type="text" id="echomessage" name="echo" required>
      <button type="submit">声を出す</button>
    </form>
  </section>
  <section>
    <h2>やまびこ</h2>
    <p>入力したメッセージを一文字ずつ減らして返します。</p>
    <th:block th:if="${yamabiko}">
      <p th:each="line : ${yamabiko}" th:text="${line}">やまびこ</p>
    </th:block>

    <form th:action="@{/yamabiko/reduce}" method="post">
      <label for="reducemessage">メッセージ:</label>
      <input type="text" id="reducemessage" name="reduce" required>
      <button type="submit">声を出す</button>
    </form>
  </section>
</body>

</html>
